/*-------------------------------------Fonts*/
/*Utilising Jura and Play Fonts for Website*/

@import url('https://fonts.googleapis.com/css?family=Jura:100,200,300,400,500,600,700|Play:100,200,300,400,500,600,700');

body {
    font-family: "Jura", sans-serif;
}

/*-------------------------------------Navigation Bar*/
/*------------------Custom Styling adding to navbar section*/

.navbar {
    color: #FBFFFC!important;
    background-color: #C52C02;
    font-family: "Jura", sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px;
    padding: 20px 0px;
    border: 0;
    border-radius: 0px;
    z-index: 1;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 800;
    color: #FBFFFC!important;
}

.navbar-nav :link {
    color: #FBFFFC!important;
}

.navbar-nav :hover,
.navbar-nav :active {
    color: #A6A088!important;
}

/*-------------------------------------Cover Image*/

.cover-image {
    background-image: url("../images/Main 1200.jpg");
    height: 1000px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cover-text {
    font-family:"Jura", sans-serif;
    font-weight: 800;
    text-align:center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FBFFFC;
    opacity: 0.8;
    letter-spacing: 2px;
}

#main-button {
    color: #FBFFFC;
    background-color:transparent;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

#main-button:hover,
#main-button:active {
    background-color: #A6A088;
    border-color: #BBE6CA;
    text-decoration: none;
}

/*-------------------------------------About Me Section*/

.about-section {
    background-color: #BE4516;
}


.about-text {
    padding: 50px 0px;
    font-family:"Play", sans-serif;
    font-size: 20px;
    color: #FBFFFC;
}

.about-text p a {
    text-decoration: none;
    color:#FFC0CB;
    /*opacity: 0.7;*/
}

.about-text p a:hover,
.about-text p a:active {
    text-decoration: none;
    color: #B3E0E5;
}

.shane-image {
    float: left;
    margin-bottom: 40px;
    border-radius: 50%;
    border: 10px solid white;
}

.section-heading {
    font-family: "Jura", sans-serif;
    color: #FBFFFC;
}

.quote {
    color:#FBFFFC;
}

.quotelink a {
    font-family:"Play", sans-serif;
    text-decoration: none;
    color:#FFC0CB;

}

.quotelink a:hover,
.quotelink a:active {
    color: #B3E0E5;
}

/*-------------------------------------Photography Section*/

.photo-section {
    background-color: #A6A088;
}

.img-responsive {
    width: 100%;
    border: 5px solid #FBFFFC;
}

.description {
    font-family:"Play", sans-serif;
    color: #FBFFFC;
}
.enquiries  {
    color: #FBFFFC;
    /*background-color:transparent;*/
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 5px;
}

.enquiries :hover,
.enquiries :active {
    background-color: white;
    text-decoration: none;
}

/*-------------------------------------Editing Section*/

.editing-section {
    background-color:#B3E0E5;
}

.editing-image {
    float: right;
}

.editing-text {
    padding-top: 75px;
    font-family:"Play", sans-serif;
    font-size: 20px;
    color: #0E0C0F;
}

/*-------------------------------------Contact Section*/

.contact-image {
    background-image: url("../images/bikeLight.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact-text {
    font-family:"Jura", sans-serif;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 40%;
    color: red;
}

#photograph {
    color: black;
}

#form-button {
    background-color: transparent; 
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

#form-button:hover,
#form-button:active {
    background-color: #FFFFFF;
}


#social {
    font-weight: 800;
}

.my-social {
    font-size: 40px;
}



/*-------------------------------------Footer*/

footer {
    font-family: "Play", sans-serif;
    color: #FBFFFC;
    background-color: #C52C02;
}


/*-------------------------------------Media Queries*/

@media screen and (max-width: 767px) {
    .cover-image {
        background-image: url("../images/main800.jpg");
        height: 300px;
    }
    .shane-image {
        width: 150px;
        float: none;
        border-radius: 0;
        margin-bottom: 20px;
        padding: 0;
        border: 10px solid white;
    }
    .about-text {
        padding: 10px 0px;
    }
    .editing-image {
        width: 150px;
        float: none;
    }
    .contact-image {
        background-image: url("../images/bikeLight 800.jpg");
    }
   /* #photograph {
        color: #FFFFFF;
    }*/
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .cover-image {
        background-image: url("../images/Main 1000.jpg");
        height: 600px;
    }
    .contact-image {
        background-image: url("../images/bikeLight 1000.jpg");
    }
    .quotelink{
        float: none;
    }
}

@media screen and (min-width: 1200px) {
    .cover-image {
        background-image: url("../images/Main large.jpg");
    }
   
    
}