/*-------------------------------------Fonts*/
/*Utilising Jura and Play Fonts for Website*/

@import url('https://fonts.googleapis.com/css?family=Jura:100,200,300,400,500,600,700|Play:100,200,300,400,500,600,700');

/*-------------------------------------Navigation Bar*/

/*------------------Custom Styling adding to navbar section*/
.navbar {
    padding: 20px 0px;
    border: 0;
    color: #FBFFFC!important;
    background-color: #ad1313;
    font-family: "Jura", sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 0px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 800;
    color: #FBFFFC!important;
}

.navbar-nav :link,
.navbar-nav :link {
    color: #FBFFFC!important;
}

.navbar-nav :hover,
.navbar-nav :active {
    color: #C9CCC9!important;
}
